@font-face {
font-family: 'Bebas Neue';
font-style: normal;
font-weight: normal;
src: local('Bebas Neue'), url('BebasNeue.woff') format('woff');
}

.borders{
	
}



body{
	background-color: rgb(234, 237, 239);

}
#space{
	height:2rem;
}	
#sm-space{
	height:1rem;
}
#head{
	height:4rem;
}

#logo{
	font-size: 4rem;
	font-family: bebas neue,sans-serif;
	padding-left:6px;
	border:none;
	

}
#tagline-row{
	height:2rem;
}
#tagline{
	font-family: times, serif;
	font-size: 1.2rem
}
#nav-bar{
	height:2.5rem;
}
#meta-nav-bar{
	height:2.5rem;
}

.link{
	font-family: bebas neue, sans-serif;
	font-size: 2rem;
}
.white-row{
	background-color: white;
	height: 6rem;
}
#big-square-one{
	height:19rem;
}
#big-square-three{
	height:19rem;
	background:white;
}
.background-color{
	background: rgb(234, 237, 239);
}
#margin-box{
	background: rgb(234, 237, 239);
}
#white-box{
	background: white;
}
.white-row-two{
	background-color: white;
	height: 2.5rem;
}



#content-space-row{
	height:2.8rem;
}

#big-square-two{
	height:.5rem;
}

#big-square-three{
	height:3rem;
}

#uber-text{
	font-family: bebas neue, sans-serif;
	font-size: 3rem;
}
































