@font-face {
font-family: 'Bebas Neue';
font-style: normal;
font-weight: normal;
src: local('Bebas Neue'), url('BebasNeue.woff') format('woff');
}

body{
	background:rgb(233,237,239);
}



.sm-space{
	height:1rem
}

.xs-space{
	height: .5rem;
}
.white{
	background: white;
}



/* ------heading------*/

#logo{
	font-family: bebas neue; 
	font-size: 4rem;
	padding-top: -2rem;
}
#tagline-row{
	height:2rem;
}
#tagline{
	font-family: times, serif;
}


.nav-text{
	font-family: bebas neue, serif; 
	font-size: 1.5rem;
}

/*------Content 1------*/


.content-img{
	padding-left: 0rem;
	padding-right: 0rem;
}

.image{
	width:100%;	
	height: 100%;
}

.content-text{
	font-family: bebas neue, serif;
	font-size: 3rem;
	line-height: 1;
}

.content-sub-text{
	font-family: times, serif;
	font-size: 1rem;
}

.read-more{
	font-size: 1rem;
	font-family: times, serif;
	color:red;
}
